<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/output.css">
    <link rel="icon" href="https://icon-library.com/images/white-home-icon-png/white-home-icon-png-21.jpg">
</head>
<body class="bg-slate-50 dark:bg-slate-800">
    <!-- <div class="hidden">
        <h1 class="text-red-500">Home</h1>
        <div id="btn-bar"></div>
    </div> -->
<nav id="nav" class="fixed top-0 right-0 left-0 h-16 border-b-2 border-slate-600">
</nav>    


<main id="main" class="
flex
flex-col
justify-center
items-center
h-screen
px-4
gap-8
text-zinc-900
dark:text-white
mx-auto
lg:flex-row
lg:w-3/4
">
    <h1 id="title" class="text-4xl font-bold lg:w-[50%] lg:text-center lg:text-8xl">Titulo</h1>
    <div id="desc-container" class="flex flex-col gap-8 lg:w-[50%] mostrar-desc opacity-0">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem perferendis repellendus voluptates distinctio libero possimus dolore quae! Necessitatibus doloremque vel eligendi veniam fuga minima a, dolores debitis nam, modi ut!</p>
        <a class="bg-cyan-700 hover:bg-cyan-800 text-zinc-50 rounded-md duration-100 font-semibold text-center" href="/login/"> Entrar a la app</a>
    </div>
</main>
    <!-- <a href="/signup">Link</a> -->
    <script type="module" src="/components/LinkBtn.js"></script>
    <script src="index.js"></script>
    <script src="../components/nav.js"></script>
</body>
</html>